.custom-tab-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
    overflow-x: auto;
    /* Enable horizontal scrolling for small screens */
    -webkit-overflow-scrolling: touch;
    /* Enable smooth scrolling for WebKit browsers */
}

.custom-tab-list>.react-tabs__tab {
    margin-right: 10px;
    cursor: pointer;
    padding: 8px 10px;
    border: 1px solid transparent;
    white-space: nowrap;
    /* Prevent tabs from wrapping */
}

@media (max-width: 768px) {
    .custom-tab-list {
        flex-wrap: nowrap;
        /* Prevent wrapping of tabs */
    }

    .custom-tab-list>.react-tabs__tab {
        margin-right: 5px;
        font-size: 14px;
        /* Adjust font size for smaller screens */
    }
}